<%= simple_form_for :card do |f| %>

  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:
      </h2>
      <ul>
        <% @cad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.input :original_text %><br>
    <%= f.input :translated_text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
